.menu-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  &__image {
    width: 100%; /* Ensures the image container spans the full width */
    height: 200px; /* Set a fixed height to maintain layout consistency */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%; /* Ensures the image fills the container's width */
      height: 100%; /* Ensures the image fills the container's height */
      object-fit: cover; /* Maintains aspect ratio and crops as needed */
    }
  }

  &__details {
    padding: 0.5rem;
    text-align: center;
    background-color: #fdfdfd;

    &__name {
      font-size: 1.8rem;
      font-weight: bold;
      color: #6c63ff;
    }

    &__description {
      font-size: 1rem;
      color: #666;
      margin-bottom: 0.5rem;
      line-height: 1.4;
    }

    &__price {
      font-size: 1.5rem;
      color: #222;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;

    .menu-card__edit {
      text-decoration: none;
      padding: 0.7rem 1.5rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      background-color: #6c63ff;
      color: #fff;
      display: inline-block;
      text-align: center;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #5a54e6;
        text-decoration: underline;
      }
    }

    .menu-card__delete {
      background-color: #ff6b6b;
      color: #fff;
      padding: 0.7rem 1.5rem;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: #e65a5a;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      width: 100%; /* Ensures the card spans full width on small screens */
    }

    &__image {
      height: 200px; /* Adjust height for smaller screens */
    }

    &__details {
      padding: 1rem;

      &__name {
        font-size: 1.5rem;
      }

      &__description {
        font-size: 0.9rem;
      }

      &__price {
        font-size: 1.3rem;
      }
    }

    &__actions {
      button {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
      }
    }
  }
}

.menu-card-link {
  text-decoration: none;
}
